
.features-wrapper{
    padding: 24px 0;
    border: 1px solid var(--border-color);
    border-radius: 8px;
}
.features-section {
  padding-bottom: 50px;
}
.feature-card {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
}


.feature-icon svg {
    font-size: 38px;
    color: var(--primary-color);
}

.feature-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.feature-content h4 {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 0px;
    color: var(--text-dark);
}

.feature-content p {
    font-size: 12px;
    color: var(--text-light);
    margin-bottom: 0;
}