/* =========================
   BLOG LAYOUT
========================= */

.blog-layout {
    display: flex;
    gap: 30px;
    padding: 50px 0;
}

.blog-main {
    width: 75%;
}

.blog-sidebar {
    width: 25%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: sticky;
    top: 80px; /* distance from top when sticky */
    align-self: flex-start;
}   
/* =========================
   BLOG GRID
========================= */

.blog-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
}

/* =========================
   BLOG CARD
========================= */

.blog-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.blog-img-wrap {
    overflow: hidden;
    border-radius: 4px;
}

.blog-card img {
    width: 100%;
    display: block;
    transition: transform 0.5s ease;
}

.blog-card:hover img {
    transform: scale(1.08);
}



.blog-card-content .blog-category {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
    color: var(--primary-color);
    text-transform: uppercase;
}

.blog-card-content .blog-title {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.4;
    color: var(--text-dark);
}

.blog-card-content .blog-title:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.blog-excerpt {
    font-size: 16px;
    color: var(--text-light);
}

.blog-meta {
    display: flex;
    gap: 2px;
    font-size: 14px;
    color: var(--text-light);
    margin-bottom: 10px;
}

.blog-by {
    color: var(--text-muted);
}

.blog-author {
    font-weight: 600;
    color: var(--text-dark);
}

.blog-card-content button {
    border: none;
    background: transparent;
    color: var(--primary-color);
    padding: 0;
    text-transform: lowercase;
}

.blog-card-content button:hover {
    color: var(--text-dark);
}

/* =========================
   SIDEBAR
========================= */



.sidebar-widget {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-widget h3 {
    font-size: 16px;
    margin-bottom: 0px;
    color: var(--text-dark);
    font-weight: 700;
}

.sidebar-widget .search-box {
    display: flex;
    align-items: center;
    height: 45px;
    border: 1px solid var(--border-color);
    padding: 8px;
}

.sidebar-widget input {
    width: 100%;
    outline: none;
    height: 100%;
    font-size: 12px;
    border: none;
    color: var(--text-dark);
    background-color: transparent;
}

.sidebar-widget .search-box button {
    width: fit-content;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 18px;
    color: var(--text-light);
}

.sidebar-widget ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
    font-size: 14px;
}

.sidebar-widget ul li {
    cursor: pointer;
    color: var(--text-dark);
    transition: all 0.5s ease;
}


.sidebar-widget ul li:hover {
    color: var(--primary-color);
}

/* =========================
   TAGS
========================= */

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tags span {
    border: 1px solid var(--border-color);
    padding: 8px 14px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 4px;
    color: var(--text-dark);
}

.tags span:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.blog-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin-top: 30px;
    
}

.pagination-nav {
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    background: transparent;
    font-size: 14px;
    color: var(--text-muted);
    cursor: pointer;
    transition: all 0.3s ease;
}

.pagination-nav:hover {
    color: var(--primary-color);
}

.pagination-number {
    width: 30px;
    height: 40px;
    border: none;
    background: transparent;
    font-size: 14px;
    color: var(--text-light);
    cursor: pointer;
    transition: all 0.3s ease;
}

.pagination-number.active {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    color: var(--primary-color);
    
}

.pagination-number:hover {
    color: var(--primary-color);
}
/* =========================
   SINGLE BLOG CONTENT
========================= */

.blog-content {
    max-width: 850px;
}

.blog-content img {
    width: 100%;
    margin-bottom: 30px;
}

.blog-content h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

.blog-content p {
    color: var(--text-light);
    line-height: 1.8;
    margin-bottom: 20px;
}

.slider-header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-navigation-wrap {
  display: flex;
  gap: 8px;
}

.custom-navigation-wrap button {
 width: fit-content;
 background: transparent;
  cursor: pointer;
  padding: 0;
  border: none;
}

.popular-posts-slide {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.popular-post {
    display: flex;
    gap: 12px;
    align-items: center;
}

.popular-post img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.popular-post-content h4 {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 6px;
}

.popular-post-content span {
  font-size: 12px;
  color: var(--text-light);
}

/* Custom Block */

.custom-block p {
    font-size: 14px;
    line-height: 1.8;
    color: var(--text-light);
    margin-bottom: 0;
}

.custom-block a {
    color: var(--primary-color);
    font-weight: 600;
}

/* Calendar */

.calendar-month {
    background: var(--primary-color);
    color: var(--white);
    text-align: center;
    padding: 8px 10px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    text-align: center;
}

.day-name {
    font-weight: 700;
    color: var(--text-dark);
}

.calendar-grid div {
    font-size: 14px;
    color: var(--text-dark);
}

.other-month {
    color: var(--text-muted) !important;
}

.today {
    color: var(--primary-color) !important;
    font-weight: 700;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 991px) {
    .blog-layout {
        flex-direction: column;
        gap: 50px;
    }

    .blog-main,
    .blog-sidebar {
        width: 100%;
    }

    .blog-sidebar {
        position: static;
    }
}

@media (max-width: 576px) {
    .calendar-grid {
        gap: 8px;
    }

    .calendar-grid div {
        font-size: 12px;
    }

    .calendar-month {
        font-size: 13px;
    }

     .popular-post img {
        width: 70px;
        height: 70px;
    }

    .popular-post-content h4 {
        font-size: 13px;
    }
}